<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <h1 id = 'h1'><font color = 'white'>
  Your Pokemon-
  </h1>
  <object id ="chat" data=http://localhost:4000/> 
    <embed src=http://localhost:4000/> </embed> Error: Embedded data could not be displayed. 
  </object>

  <body bgcolor = "#FFFFFF">
  <img  src = <%= pickPokemon[0].chosen %> onclick = "pickPokemon(this)" id = "main">
  <table>
  <tr>
    <td>
  <img src = <%= pokemon[0].name %> id = <%= pokemon[0].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[1].name %> id = <%= pokemon[1].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[2].name %> id = <%= pokemon[2].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[3].name %> id = <%= pokemon[3].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[4].name %> id = <%= pokemon[4].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[5].name %> id = <%= pokemon[5].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[6].name %> id = <%= pokemon[6].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[7].name %> id = <%= pokemon[7].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[8].name %> id = <%= pokemon[8].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[9].name %> id = <%= pokemon[9].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
  </tr>   
    <tr>
    <td>
  <img src = <%= pokemon[10].name %> id = <%= pokemon[10].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[11].name %> id = <%= pokemon[11].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[12].name %> id = <%= pokemon[12].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[13].name %> id = <%= pokemon[13].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[14].name %> id = <%= pokemon[14].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[15].name %> id = <%= pokemon[15].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[16].name %> id = <%= pokemon[16].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[17].name %> id = <%= pokemon[17].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[18].name %> id = <%= pokemon[18].name %> onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = <%= pokemon[19].name %> id = <%= pokemon[19].name %>  onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
  </tr> 
  </table>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

function handleClick(element){
  if(element.src !== "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/lib/db/card%20pictures/Back.png"){
    element.src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/lib/db/card%20pictures/Back.png";
  }
  else{
    element.src = element.id;
  }

}

function checkGameState() {
  $.ajax({
    url: "/main/gameState",
    type: "GET",
    timeout: 5000,

    success: function(data) {
      window.location = data;
    },

    error: function() {
      console.log('process error');
    }
  });
}
var interval = setInterval(checkGameState, 500);
</script>
  </body>
</html>
